{% extends '_base.html' %}

{% block title %}
Inicio | Empresa
{% endblock title %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="/static/css/inicio.css">
{% endblock estilos %}

{% block content %}
<div class="container text-center my-5">
  <h1 class="my-5">Artigos</h1>
  <div class="container">
    <div id="raiz">
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/static/js/inicio.js"></script>
{% endblock scripts %}
